server {
    listen 80;
    server_name ${PROJECT_DOMAIN};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    listen 80;
    access_log /dev/stdout;

    server_name ${PROJECT_DOMAIN};

    ssl_certificate /app/ssl/${PROJECT_NAME}.crt;
    ssl_certificate_key /app/ssl/${PROJECT_NAME}.key;

    client_max_body_size 5000k;

    gzip on;
    gzip_min_length 1000;
    gzip_proxied any;
    gzip_types text/css application/x-javascript;

    resolver 127.0.0.11 valid=30s;

    location ~ ^/(admin|api|login|complete|static|s)/ {
        set $django${PROJECT_NAME} ${PROJECT_NAME}-django;
        proxy_pass http://$django${PROJECT_NAME}:8000;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto 'https';
    }

    location ~ ^/(${PROJECT_NAME}-static|${PROJECT_NAME}-media)/ {
        set $minio${PROJECT_NAME} ${PROJECT_NAME}-minio;
        proxy_pass http://$minio${PROJECT_NAME}:9000;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto 'https';
    }

    location ~ ^/(minio-admin)/ {
        set $minio${PROJECT_NAME} ${PROJECT_NAME}-minio;
        proxy_pass http://$minio${PROJECT_NAME}:9001;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto 'https';
    }

    location / {
        set $nextjs${PROJECT_NAME} ${PROJECT_NAME}-nextjs;
        proxy_pass http://$nextjs${PROJECT_NAME}:3000;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto 'https';
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
