[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods

[FORMAT]
max-line-length=140

[DESIGN]
max-parents=15
max-args=8

[VARIABLES]
ignored-argument-names=args|kwargs|request


load-plugins=pylint_django
django-settings-module=application.settings
