DJANGO_SECRET_KEY=

NEXT_PUBLIC_GTAG=

PROJECT_DOMAIN=<project_domain>

DATABASE_NAME=<project_name>
DATABASE_USER=<project_name>
DATABASE_PASSWORD=
DATABASE_PORT=25060
DATABASE_HOST=

REGISTRY_USERNAME=
REGISTRY_PASSWORD=

NODE_ENV=production

SENTRY_DSN=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_FRONTEND_DSN=
