
services:
  ${PROJECT_NAME}-django:
    image: ${DJANGO_IMAGE}
    command: gunicorn -w ${DJANGO_WORKER_COUNT} -b 0.0.0.0:8000 -k application.worker.CustomUvicornWorker application.asgi
    networks:
      - prodnet
    env_file:
      - env.base
      - env

  ${PROJECT_NAME}-nextjs:
    image: ${NEXTJS_IMAGE}
    networks:
      - prodnet
    env_file:
      - env.base
      - env


networks:
  prodnet:
    name: prodnet
    external: true